.social-login
    button.social-login--github
        a(href=routes.github)
            span
                i.fab.fa-github
            |Continue with Github
    button.social-login--naver
        a(href=routes.naver)
            span
                img(src="https://w.namu.la/s/4ef73153a1fe8841219013887dd314914418ab119d13b6ad0b3f8a74d8f0fd357c0b77c72e0b817547f006ecbbce38786d4eeaacc2134580459222d60cd7382928e3bb086590bbfaddebc004a0462d78654bbc868c86bd7962873ff38b9ec7dc", alt="NAVER", width="17px", height="17px")
            |Continue with Naver
    button.social-login--facebook
        span
            i.fab.fa-facebook
        |Continue with Facebook