.social-login
    button.social-login--github
        a(href=routes.github)
            span
                i.fab.fa-github
            |Continue with Github
    button.social-login--naver
        a(href=routes.naver)
            span
                img(src="http://bwithmag.com/wp-content/uploads/2018/06/2%E1%84%82%E1%85%A6%E1%84%8B%E1%85%B5%E1%84%87%E1%85%A5-N-%E1%84%85%E1%85%A9%E1%84%80%E1%85%A9.jpg", alt="NAVER", width="17px", height="17px")
            |Continue with Naver
    button.social-login--facebook
        span
            i.fab.fa-facebook
        |Continue with Facebook